#botao1 {
    border-radius: 10px;
    border: 5px solid;
    border-color: #000000;
    padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#botao2 {
    border-radius: 5px;
    border: 5px solid;
    border-color: #000000;
    padding: 15px;
    background-color: rgba(188, 34, 235, 0.801);
    transition: all 0.8s;
    display: block;
    margin: auto;
}

#botao3 {
    border-radius: 50px;
    border: 5px solid;
    border-color: #e90a0a;
    padding: 15px;
    display: block;
    margin: auto;
}

h2 {
    text-align: center;
}

#meuSpanzinho {
    text-align: center;
}