.dimensao {
    width: 250px;
    border-radius: 8px;
    border: 5px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
}

/* .fundo {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.fundo::before {    
      content: "";
      background-image: url("../img/logocamargo.png");
      background-size: cover;
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.25;
}

img, a, p {
    position: relative;
}
    

/* .fundo {
    background-image: url("../img/logocamargo.png");
    background-color: #cccccc;
    opacity: 1;
} */


h1{
    text-align: center;
    text-decoration: underline;
    color: #cc00ff;
}

/* link nunca foi clicado ou visitado */
a:link {
    color: #000066;
  }
  
  /* link que foi visitado */
  a:visited {
    color: #00ffff;
  }
  
  /* link quando passa o mouse por cima */
  a:hover {
    color: #00ff99;
  }
  
  /* link selecionado */
  a:active {
    color: #cc3300 ;
  }